
body {
    background: rgb(164,131,45);
    background: linear-gradient(90deg, rgba(164,131,45,1) 0%, rgba(166,134,68,1) 19%, rgba(180,146,87,1) 27%, rgba(181,132,60,1) 44%, rgba(221,151,54,1) 50%, rgba(177,116,32,1) 60%, rgba(203,133,35,1) 73%, rgba(252,176,69,1) 100%);
    font-family: "Luckiest Guy", serif;
    font-weight: 250;
    font-style: normal;

}

.luckiest-guy-regular {

  }


.fondo {
    background-size: cover;
    background-image: url(assets/fortnite.jpg);
    background-position: center;
    padding-bottom: 10rem;
    margin: 2rem;
}



h1 {
    padding-top: 10px;
    color: gold;
    text-align: center;
    font-size: 50px;
    /* font-family: Arial, Helvetica, sans-serif */
}

h1:hover {
    transform: scale(1.15);
}

h3 {
    color: rgb(236,212,51);
    
    text-align: center;
    font-size: larger;
    /* font-family: Arial, Helvetica, sans-serif; */
}

h3:hover {
    transform: scale(1.15);
}



table {
    table-layout: fixed;
    height: 500px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: larger;
    /* font-family: Arial, Helvetica, sans-serif; */
    border: 1px solid black;
    border-collapse: collapse; /* Asegura que las celdas compartan los bordes */
    background-color: #F0F8FF;
}


td {
    border: 1px solid black;
    /* border-radius: 15px; */
    padding: 10px;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: larger;    
}

audio {
    visibility: hidden;
}

a {
    
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: royalblue;
}

a:hover {
    display: block;
    color: darkblue;
}

.seccion {
    background-color: rgba(203,133,35,1);
}

.seccion2{
    background-color: rgba(252,176,69,1);
}

#agrandar:hover {
    transform: scale(1.15);
    background-color: #e0e0e0;
    cursor: pointer;
}